// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the Ironhide board
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */

/dts-v1/;
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/soc/renesas,r8a78000-mfis.h>
#include "r8a78000.dtsi"

/ {
	model = "Renesas Ironhide board based on r8a78000";
	compatible = "renesas,ironhide", "renesas,r8a78000";

	aliases {
		serial0 = &hscif0;
		serial1 = &hscif1;
		serial2 = &scif0;	// FIXME
		serial3 = &scif1;	// FIXME
	};

	chosen {
		stdout-path = "serial0:1843200n8";
	};

	firmware {
		scmi: scmi {
			compatible = "arm,scmi";
			mboxes = <&mfis_scp 2 MFIS_CHANNEL_TX>,
				 <&mfis_scp 2 MFIS_CHANNEL_RX>;
			mbox-names = "tx", "rx";
			shmem = <&scmi_tx_shmem>, <&scmi_rx_shmem>;
			arm,no-completion-irq;
			#address-cells = <1>;
			#size-cells = <0>;

			scmi_devpd: protocol@11 {
				reg = <0x11>;
				#power-domain-cells = <1>;
			};

			scmi_sys: protocol@12 {
				reg = <0x12>;
			};

			scmi_clk: protocol@14 {
				reg = <0x14>;
				#clock-cells = <1>;
			};

			scmi_reset: protocol@16 {
				reg = <0x16>;
				#reset-cells = <1>;
			};
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x80000000>;
	};

	memory@1080000000 {
		device_type = "memory";
		reg = <0x10 0x80000000 0x0 0x80000000>;
	};

	memory@1200000000 {
		device_type = "memory";
		reg = <0x12 0x00000000 0x1 0x00000000>;
	};

	memory@1400000000 {
		device_type = "memory";
		reg = <0x14 0x00000000 0x1 0x00000000>;
	};

	memory@1600000000 {
		device_type = "memory";
		reg = <0x16 0x00000000 0x1 0x00000000>;
	};

	memory@1800000000 {
		device_type = "memory";
		reg = <0x18 0x00000000 0x1 0x00000000>;
	};

	memory@1a00000000 {
		device_type = "memory";
		reg = <0x1a 0x00000000 0x1 0x00000000>;
	};

	memory@1c00000000 {
		device_type = "memory";
		reg = <0x1c 0x00000000 0x1 0x00000000>;
	};

	memory@1e00000000 {
		device_type = "memory";
		reg = <0x1e 0x00000000 0x1 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* First 518 MiB is reserved for other purposes. */
		firmware@40000000 {
			reg = <0x0 0x40000000 0x0 0x20600000>;
			no-map;
		};

		/* Parameters set by IPL. */
		parameters@8c100000 {
			reg = <0x0 0x8c100000 0x0 0x00008000>;
			no-map;
		};

		/* TFA BL31. */
		tfa-bl31@8c200000 {
			reg = <0x0 0x8c200000 0x0 0x00080000>;
			no-map;
		};

		/* TEE TZ DRAM. */
		tee@8c400000 {
			reg = <0x0 0x8c400000 0x0 0x02000000>;
			no-map;
		};

		/* DRAM controller inline ECC areas */
		ecc@10cccc0000 {
			reg = <0x10 0xcccc0000 0x0 0x33340000>;
			no-map;
		};

		ecc@12cccc0000 {
			reg = <0x12 0xcccc0000 0x0 0x33340000>;
			no-map;
		};

		ecc@14cccc0000 {
			reg = <0x14 0xcccc0000 0x0 0x33340000>;
			no-map;
		};

		ecc@16cccc0000 {
			reg = <0x16 0xcccc0000 0x0 0x33340000>;
			no-map;
		};

		ecc@18cccc0000 {
			reg = <0x18 0xcccc0000 0x0 0x33340000>;
			no-map;
		};

		ecc@1a66660000 {
			reg = <0x1a 0x66660000 0x0 0x999a0000>;
			no-map;
		};

		ecc@1c66660000 {
			reg = <0x1c 0x66660000 0x0 0x999a0000>;
			no-map;
		};

		ecc@1e66660000 {
			reg = <0x1e 0x66660000 0x0 0x999a0000>;
			no-map;
		};
	};

	mailbox_test_send_to_recv {
		compatible = "mailbox-test";
		reg = <0x0 0xc1000000 0x0 0x100>;
		mboxes = <&mfis 0 (MFIS_CHANNEL_IICR | MFIS_CHANNEL_TX)>,
			 <&mfis 0 (MFIS_CHANNEL_EICR | MFIS_CHANNEL_RX)>;
		mbox-names = "tx", "rx";
	 };

	mailbox_test_recv_to_send {
		compatible = "mailbox-test";
		reg = <0x0 0xc1000100 0x0 0x100>;
		mboxes = <&mfis 0 (MFIS_CHANNEL_EICR | MFIS_CHANNEL_TX)>,
			 <&mfis 0 (MFIS_CHANNEL_IICR | MFIS_CHANNEL_RX)>;
		mbox-names = "tx", "rx";
	 };
};

&cpg {
	firmware = <&scmi>;
};

&extal_clk {
	clock-frequency = <16666600>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	status = "okay";
};

&hscif1 {
	pinctrl-0 = <&hscif1_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	status = "okay";
};

&mdlc_aon {
	firmware = <&scmi>;
};

&mdlc_cmnn {
	firmware = <&scmi>;
};

&mdlc_cmns {
	firmware = <&scmi>;
};

&mdlc_ddr0 {
	firmware = <&scmi>;
};

&mdlc_ddr1 {
	firmware = <&scmi>;
};

&mdlc_ddr2 {
	firmware = <&scmi>;
};

&mdlc_ddr3 {
	firmware = <&scmi>;
};

&mdlc_ddr4 {
	firmware = <&scmi>;
};

&mdlc_ddr5 {
	firmware = <&scmi>;
};

&mdlc_ddr6 {
	firmware = <&scmi>;
};

&mdlc_ddr7 {
	firmware = <&scmi>;
};

&mdlc_dsp {
	firmware = <&scmi>;
};

&mdlc_gpc {
	firmware = <&scmi>;
};

&mdlc_hscn {
	firmware = <&scmi>;
};

&mdlc_hscs {
	firmware = <&scmi>;
};

&mdlc_imn {
	firmware = <&scmi>;
};

&mdlc_ims {
	firmware = <&scmi>;
};

&mdlc_mm {
	firmware = <&scmi>;
};

&mdlc_npu0 {
	firmware = <&scmi>;
};

&mdlc_npu1 {
	firmware = <&scmi>;
};

&mdlc_pere {
	firmware = <&scmi>;
};

&mdlc_perw {
	firmware = <&scmi>;
};

&mdlc_rt {
	firmware = <&scmi>;
};

&mdlc_scp {
	firmware = <&scmi>;
};

&mdlc_top {
	firmware = <&scmi>;
};

&mdlc_vio {
	firmware = <&scmi>;
};

&mdlc_vipn {
	firmware = <&scmi>;
};

&mdlc_vips {
	firmware = <&scmi>;
};

&mfis {
	status = "okay";
};

&mfis_scp {
	status = "okay";
};

&gpio10 {
	pcie40-clkreq-hog {
		gpio-hog;
		gpios = <12 1>;
		output-high;
	};
};

&mp_phy {
	renesas,num-lanes = <4 4 0 0>;
	renesas,phy-type = <PHY_TYPE_PCIE 0>, <PHY_TYPE_PCIE 0>,
			   <PHY_TYPE_XPCS 2>, <PHY_TYPE_USB3 1>;
	renesas,external-ref-clock = <1 1 1 1>;
	renesas,output-repeat-ref-clock = <0 0 0 0>;
	status = "okay";
};

&pcie40_clkref {
	clock-frequency = <100000000>;
};

&pciec40 {
	status = "okay";
};

&pciec40_rp {
	resets = <&scmi_reset 815>; /* R8A78000_SCMI_RESET_U266_PCIE4 */
	reset-names = "perst";
};

&pfc {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
	};

	hscif1_pins: hscif1 {
		groups = "hscif1_data", "hscif1_ctrl";
		function = "hscif1";
	};

	scif0_pins: scif0 {
		groups = "scif0_data", "scif0_ctrl";
		function = "scif0";
	};

	scif1_pins: scif1 {
		groups = "scif1_data", "scif1_ctrl";
		function = "scif1";
	};

	scif_clk_pins: scif-clk {
		groups = "scif_clk";
		function = "scif_clk";
	};
};

&scif_clk {
	clock-frequency = <26000000>;
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	//status = "okay";	// FIXME Mutually-exclusive with hscif0
};

&scif1 {
	pinctrl-0 = <&scif1_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	//status = "okay";	// FIXME Mutually-exclusive with hscif1
};

&stcm_transport {
	scmi_tx_shmem: sram@1200 {
		compatible = "arm,scmi-shmem";
		reg = <0x1200 0x0100>;
	};

	scmi_rx_shmem: sram@1300 {
		compatible = "arm,scmi-shmem";
		reg = <0x1300 0x100>;
	};
};

&ufs1_ref_clk {
	clock-frequency = <52000000>;
};

&ufs1 {
	status = "okay";
};
